<h1 id="links">Useful Links</h1>
<div class="container" id="links">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6" id="links">
			<h3>Butler County Fire</h3><br><br>
			<a href="http://www.bcfca.org" target="_blank">Butler County Fire Chief's Association</a><br>
			<a href="http://lickhillvfd.webs.com" target="_blank">Lick Hill VFD (ST#8)</a><br>
			<a href="http://www.hermanvfc.org" target="_blank">Herman VFC (ST#10)</a><br>
			<a href="http://www.svfc.com" target="_blank">Saxonburg VFC (ST#15)</a><br>
			<a href="http://www.middlesexvfc.com" target="_blank">Middlesex Twp. VFC (ST#16)</a><br>
			<a href="http://www.ecvfd20.com" target="_blank">Evans City VFD (ST#20)</a><br>
			<a href="http://www.ctvfc21.org" target="_blank">Cranberry Twp. VFC (ST#21)</a><br>
			<a href="http://www.bruinvfd.com" target="_blank">Bruin VFD (ST#28)</a><br>
			<a href="http://www.srvfc.com" target="_blank">Slippery Rock VFC (ST#33)</a><br>
			<a href="http://www.sarverfire.com" target="_blank">Sarver VFC (ST#36)</a><br>
			<a href="http://www.adamsarea42.com" target="_blank">Adams Area VFC (ST#42)</a><br>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h3>Butler County EMS</h3><br><br>
			<a href="http://www.cranberryambulance.org" target="_blank">Cranberry Ambulance (ST#51)</a><br>
			<a href="http://www.butlerambulance.com" target="_blank">Butler EMS (ST#99)</a><br>
			<a href="http://www.harmonyems.org" target="_blank">Harmony EMS (ST#62)</a><br>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h3>Out of County Fire</h3><br><br>
			<a href="http://www.grovecityfire.org" target="_blank">Grove City (Mercer County ST#95)</a><br>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h3>Out of County EMS</h3><br><br>
			<a href="http://www.superior-ems.com" target="_blank">Superior Ambulance (ST#73)</a><br>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h3>Misc. Links</h3><br><br>
			<a href="http://www.bc3.edu/publicsafety" target="_blank">Butler County Community College Training Facility</a><br>
			<a href="http://www.emsi.org" target="_blank">Emergency Medical Services Institute</a><br>
			<a href="http://www.Harrisvilleboro.com" target="_blank">Harrisville Boro</a><br>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-12 col-lg-12">
			<br><center><a href="mailto:webmaster@harrisvillevfc.org?subject=Please add my link">Click here to request your link be added</a><center><br><br>
		</div><!-- end of col -->
	</div><!-- end of row -->
</div><!-- end of container -->