<h1 class="description">HVFC Apparatus</h1><br>
<h4 class="description">Touch any picture for information on that truck</h4><br><br>
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<img class="gallery" alt="Engine 34" src="images/apparatus/Engine web.jpg" onmouseover="this.src='images/apparatus/Engine spec.jpg'" onmouseout="this.src='images/apparatus/Engine web.jpg'">
			<div class="description">Engine</div>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-6 col-lg-6">
			<img class="gallery" alt="Tanker 34" src="images/apparatus/Tanker web.jpg" onmouseover="this.src='images/apparatus/Tanker spec.jpg'" onmouseout="this.src='images/apparatus/Tanker web.jpg'"> 
			<div class="description">Tanker</div>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-6 col-lg-6">
			<img class="gallery" alt="Brush 34" src="images/apparatus/Brush web.jpg" onmouseover="this.src='images/apparatus/Brush spec.JPG'" onmouseout="this.src='images/apparatus/Brush web.jpg'">
			<div class="description">Brush</div>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-6 col-lg-6">
			<img class="gallerty" alt="Squad 34" src="images/apparatus/Squad web.jpg" onmouseover="this.src='images/apparatus/Squad spec.JPG'" onmouseout="this.src='images/apparatus/Squad web.jpg'">
			<div class="description">Squad</div>
		</div><!-- end of col -->
	</div><!-- end of row -->
</div><!-- end of container -->