<h1 id="welcome">Contact us</h1>
<h2 style="text-align: center;"><strong>For emergencies, always dial 911</strong></h2><br><br>
<div class="container">
	<div class="row">
		<section class="col-sm-12 col-md-4 col-lg-4" id="address">
			<span><strong>Physical Address:</strong></span><br>
          	313 Mercer Road<br>
          	Harrisville, PA 16038<br><br>
          	<span>Phone Number:</span><br>
          	724-735-4646
		</section>
		<section class="col-sm-12 col-md-4 col-lg-4" id="address">
			<span><strong>Mailing Address:</strong></span><br>
			Harrisville Vol. Fire Company<br>
          	PO Box 201<br>
          	Harrisville, PA 16038
		</section>
		<section class="col-sm-12 col-md-4 col-lg-4" id="address">
			<span><strong>Fax Number:</strong></span><br>
			724-735-4647
		</section>
		<section class="col-sm-12 col-md-4 col-lg-4" id="address">
			<span><strong>President:</strong></span><br>
			Brian Grossman<br>
          	724-735-4646<br>
          	<a href="mailto:president@harrisvillevfc.org">President@harrisvillevfc.org</a>
		</section>
		<section class="col-sm-12 col-md-4 col-lg-4" id="address">
			<span><strong>Secretary:</strong></span><br>
			David Rager<br>
          	724-735-4646<br>
          	<a href="mailto:secretary@harrisvillevfc.org">Secretary@harrisvillevfc.org</a>
		</section>
		<section class="col-sm-12 col-md-4 col-lg-4" id="address">
			<span><strong>Chief:</strong></span><br>
			Steve Bickel<br>
          	724-735-4646<br>
          	<a href="mailto:Chief@harrisvillevfc.org">Chief@harrisvillevfc.org</a>
		</section>
		<section class="col-sm-12 col-md-6 col-lg-6" id="address">
			<span><strong>Hall Rentals:</strong></span><br>
			Sylvia Wray<br>
          	724-735-4646<br>
          	<a href="mailto:hallrental@harrisvillevfc.org">Hallrental@harrisvillevfc.org</a>
		</section>
		<section class="col-sm-12 col-md-6 col-lg-6" id="address">
			<span><strong>Bazaar Info:</strong></span><br>
			Summer Boyle<br>
          	724-735-4646<br>
          	<a href="mailto:Bazaar@harrisvillevfc.org">Bazaar@harrisvillevfc.org</a>
		</section>
	</div><!-- end of row -->
</div><!-- end of container -->
<br><br><br>