<header>
			<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
				    <a class="navbar-brand" href="#"><img src="images/logo.jpg" alt="Logo">&nbsp;Harrisville VFC</a>
				    <button class="navbar-toggler" id="navbarToggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				      	<span class="navbar-toggler-icon"></span>
				    </button>
				    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
				      	<ul class="navbar-nav">
					        <li class="nav-item">
					        	<a class="nav-link active" aria-current="page" href="index.html">Home</a>
					        </li>
					        <li class="nav-item dropdown">
          						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
          						<ul class="dropdown-menu">
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadContact()">Contact Us</a></li>
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadHistory()">History</a></li>
            						<li><a class="dropdown-item" target="_blank" href="docs/HVFC-BY-LAWS-2023.pdf" target>By-Laws</a></li>
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadConstruction()">Call History</a></li>
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadApparatus()">Apparatus</a></li>
          						</ul>
        					</li>
					        <li class="nav-item dropdown">
          						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Member Info</a>
          						<ul class="dropdown-menu">
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadMembers()">Current Members</a></li>
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadLifetime()">Lifetime Members</a></li>
            						<li><a class="dropdown-item" target="_blank" href="docs/HVFCMembershipApplication.pdf">Membership Application</a></li>
          						</ul>
        					</li>
					        <li class="nav-item dropdown">
          						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hall Rental</a>
          						<ul class="dropdown-menu">
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadCalender()">Availability Calendar</a></li>
            						<li><a class="dropdown-item" target="_blank" href="docs/HallRentalFAQ.pdf">FAQ</a></li>
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadRental()">Photo Gallery</a></li>
            						<li><a class="dropdown-item" target="_blank" href="docs/HVFC-RentalAgreement.pdf">Hall Rental Application</a></li>
          						</ul>
        					</li>
					        <li class="nav-item dropdown">
          						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Useful Links</a>
          						<ul class="dropdown-menu">
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadLinks()">Fire Departments</a></li>
            						<li><a class="dropdown-item" target="_blank" href="docs/AddressSignsOrderforms.pdf">Address Sign Order Form</a></li>
          						</ul>
        					</li>
        					<!-- <li class="nav-item dropdown">
          						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Photo Gallery</a>
          						<ul class="dropdown-menu">
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadConstruction()">Trucks</a></li>
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadConstruction()">Personnel</a></li>
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadConstruction()">Training</a></li>
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadConstruction()">Fires</a></li>
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadConstruction()">Accidents</a></li>
            						<li><a class="dropdown-item" href="#" onclick="$hvfc.loadConstruction()">Misc.</a></li>
          						</ul>
        					</li></ul> -->
        					<li class="nav-item">
					        	<a class="nav-link" target="_blank" href="https://www.ready.gov/kids/games">Kid's Corner</a>
					        </li>
					        <li class="nav-item">
					        	<a class="nav-link" target="_blank" href="https://www.facebook.com/hvfc1938"><img src="images/Facebook.png" alt="Facebook"></a>
					        </li>
					        <li class="nav-item">
					        	<a class="nav-link" target="_blank" href="https://www.instagram.com/hvfc1938"><img src="images/Instagram.png" alt="Instagram"></a>
					        </li>
					        <li class="nav-item">
					        	<a class="nav-link" href="tel: 7247354646">Give us a call</a>
					        </li>
				        </ul>
				    </div><!--"end of collapse"-->
				</div><!--"end of container"-->
			</nav><!--"end of nav"-->
		</header>