<h1 style="text-align: center;">Current Membership</h1><br><br>
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h2>Line Officers</h2>
			<p>&emsp;Chief: Steve Bickel - Firefighter</p>
			<p>&emsp;Asst. Chief: William Boyle - Firefighter/EMT</p>
			<p>&emsp;Captain: David Evans - Firefighter</p>
			<p>&emsp;1st Lieutenant: Clinton Weirich - Firefighter</p>
			<p>&emsp;2nd Lieutenant: Cody Wray - Firefighter</p>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h2>Executive Officers</h2>
			<p>&emsp;President: Brian Grossman - Firefighter</p>
			<p>&emsp;Vice President: Todd Simmons - Firefighter</p>
			<p>&emsp;Secretary: David Rager - Firefighter/EMT</p>
			<p>&emsp;Treasurer: Steve Bickel - Firefighter</p>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h2>Members</h2>
			<p>&emsp;Ralph Eaton - Lifetime</p>
			<p>&emsp;Dennis Blom - Lifetime</p>
			<p>&emsp;Mark Stoops - Lifetime</p>
			<p>&emsp;Konnie Stoops - Lifetime</p>
			<p>&emsp;Carol Bickel - Firefighter</p>
			<p>&emsp;Keith Grossman - Firefighter</p>
			<p>&emsp;Kristen Allison - Firefighter</p>
			<p>&emsp;Andy Grossman - Firefighter</p>
			<p>&emsp;Gary Wray - Firefighter</p>
			<p>&emsp;Calista Myers - Firefighter/EMT</p>
			<p>&emsp;Lauren Davis - Firefighter</p>
			<p>&emsp;Trey Simmons - Firefighter</p>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h2>Social Members</h2>
			<p>&emsp;Melissa Rager</p>
			<p>&emsp;Kim Grossman</p>
			<p>&emsp;Katie Grossman</p>
			<p>&emsp;Sylvia Wray</p>
			<p>&emsp;Nicole Yova</p>
			<p>&emsp;Dawn Myers</p>
			<p>&emsp;Summer Boyle</p>
			<p>&emsp;Shannon Hogg</p>
			<p>&emsp;Sue McGill</p>
			<p>&emsp;Tom Ray</p>
			<p>&emsp;Kevin Boozel</p>
			<p>&emsp;Steven Fedokovitz</p>
		</div>
	</div>
</div>
<br><br><br>