<h1 class="description">Lifetime Members</h1><br>
<h3 class="description">* Lifetime members are members who have 30+ years of active service with the fire comapny *</h3>
<br><br>
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-4 col-lg-3">
			<img class="img-fluid gallery" src="images/lifetime/Bill Bauer.JPG" alt="Bill Bauer">
			<div class="description">Bill Bauer</div>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-4 col-lg-3">
			<img class="img-fluid gallery" src="images/lifetime/Harold Uber.JPG" alt="Harold Uber">
			<div class="description">Harold Uber</div>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-4 col-lg-3">
			<img class="img-fluid gallery" src="images/lifetime/Jim Winder.JPG" alt="Jim Winder">
			<div class="description">Jim Winder</div>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-4 col-lg-3">
			<img class="img-fluid gallery" src="images/lifetime/Ralph Eaton.JPG" alt="Ralph Eaton">
			<div class="description">Ralph Eaton</div>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-4 col-lg-3">
			<img class="img-fluid gallery" src="images/lifetime/Denny Blom.JPG" alt="Denny Blom">
			<div class="description">Denny Blom</div>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-4 col-lg-3">
			<img class="img-fluid gallery" src="images/lifetime/Steve Bickel.JPG" alt="Steve Bickel">
			<div class="description">Steve Bickel</div>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-4 col-lg-3">
			<img class="img-fluid gallery" src="images/lifetime/Brian Grossman.JPG" alt="Brian Grossman">
			<div class="description">Brian Grossman</div>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-4 col-lg-3">
			<img class="img-fluid gallery" src="images/lifetime/Mark Stoops.JPG" alt="Mark Stoops">
			<div class="description">Mark Stoops</div>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-4 col-lg-3">
			<img class="img-fluid gallery" src="images/lifetime/Konnie Stoops.JPG" alt="Konnie Stoops">
			<div class="description">Konnie Stoops</div>
		</div><!-- end of col -->
		<div class="col-sm-12 col-md-4 col-lg-3">
			<img class="img-fluid gallery" src="images/lifetime/Carol Bickel.JPG" alt="Carol Bickel">
			<div class="description">Carol Bickel</div>
		</div><!-- end of col -->
	</div><!-- end of row -->
</div><!-- end of container -->